<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary btn-block">Home page</a>
    <a asp-action="Resources" asp-controller="Admin" class="btn btn-primary btn-block">Resources menu</a>
    <a asp-action="Players" asp-controller="Admin" class="btn btn-primary btn-block">Players menu</a>
</div>